.tooltipbox {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: black;
  padding: 3px 8px;
  background-color: #40dbe5;
  border-radius: 4px;
  z-index: 1000;

  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent #40dbe5 transparent;
  }
}

.tooltip-deneme {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

//left
.tooltipbox-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}
//right
.tooltipbox-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}

.tooltipbox-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #40dbe5 transparent transparent transparent;
}
.tooltipbox-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #40dbe5 transparent;
}
