.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  height: 400px;
  background-color: red;
  color: white;
  align-content: center;
  .container-item {
    border: 1px solid yellow;
    padding: 10px;
    align-items: center;
  }
}
